.SelectedImage {
  &-image {
    position: fixed;
    max-width: 80%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 15;
    opacity: 0;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }
  &-leftItem {
    &.is-visible {
      opacity: 1;
      transform: translateX(-100%);
      animation-name: SelectedImage-translateIn;
    }
  }
  &-rightItem {
    &.is-visible {
      opacity: 1;
      transform: translateX(100%);
      animation-name: SelectedImage-translateIn
    }
  }
}

@keyframes SelectedImage-translateIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}